In [1]:
import pandas as pd

In [7]:
df = pd.read_parquet(r'C:\Users\Abu Ubaida\Desktop\Projects\DL_Projects\Bengali.AI\input\test_image_data_0.parquet')

In [8]:
df.head()

,image_id,0,1,2,3,4,5,6,7,8,...,32322,32323,32324,32325,32326,32327,32328,32329,32330,32331
0,Test_0,247,253,253,252,252,252,252,253,253,...,254,254,254,254,254,254,253,253,252,250
1,Test_1,253,253,253,253,253,253,253,253,253,...,255,255,255,255,255,255,255,255,255,255
2,Test_2,253,253,253,253,253,252,251,252,252,...,255,255,255,255,255,255,255,254,253,252